In [1]:
import pandas as pd

In [2]:
sog1_aa_features = pd.read_excel("../margot_raw/SOG1_AAfeatures_Lib1+2.xlsx", header = 1)
sog1_aa_features = sog1_aa_features.rename(columns = {"Unnamed: 0" : "pos",
                                                      "Unnamed: 1" : "aa", 
                                                      "Unnamed: 2" : "part",
                                                      "Lib1" : "PS_lib1",
                                                      "Lib2": "PS_lib2",
                                                      "Lib1.1" : "charge_lib1",
                                                      "Lib2.1" : "charge_lib2",
                                                      "Lib1.2" : "hydrophob_lib1",
                                                      "Lib2.2" : "hydrophob_lib2"})
sog1_aa_features.to_csv("../data/Sog1_AA_features.csv")
sog1_aa_features

,pos,aa,part,PS_lib1,PS_lib2,charge_lib1,charge_lib2,hydrophob_lib1,hydrophob_lib2
0,1,M,NTD,NaN,NaN,NaN,NaN,NaN,NaN
1,2,A,NTD,NaN,NaN,NaN,NaN,NaN,NaN
2,3,G,NTD,NaN,NaN,NaN,NaN,NaN,NaN
3,4,R,NTD,NaN,NaN,NaN,positive,NaN,NaN
4,5,S,NTD,potential,potential,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
444,445,T,CTD,potential,potential,NaN,NaN,NaN,NaN
445,446,G,CTD,NaN,NaN,NaN,NaN,NaN,NaN
446,447,K,CTD,NaN,NaN,NaN,positive,NaN,NaN
447,448,T,CTD,potential,potential,NaN,NaN,NaN,NaN
448,449,D,CTD,NaN,NaN,negative,negative,NaN,NaN